.intro p {
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    margin: 20px;
}

.intro h1 {
    text-align: center;
    font-size: 30px;
}

.intro {
    padding-top: 50px;
}

h1 {
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    background: rgba(0, 0, 0, 0.8);
    color: lightgray;
    text-indent: 30px;
    padding: 10px;
    margin: 0px;
}

b {
    color: white;
}

.content {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    margin: 0px;
}

.allContent {
    background-color: lightseagreen;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    /*filter: blur(8px);
    background-image: url("main_background.jpg");
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;*/
}

.footer {
    margin-top: 30px;
}